:root {
    --bg-light: #FFFFFF;
    --bg: #F5F5F5;
    --sh-s:
        inset 0 1px 2px 0 rgba(1,1,1,0),
        0 1px 2px 0 rgba(0,0,0,0.19),
        0 2px 4px 0 rgba(0,0,0,0.08);
    --text: #262626;
    --text-light: #666666;
    --main-button: #2E7D32;
    --main-button-hover: #1D6020;
    --main-button-active: #0C400F;
    --success: #538749;
    --error: #e73434;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter";
    display: grid;
    /* flex-direction: column;
    align-items: center; */
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    color: var(--text);
    /* position: relative; */
}

.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    padding: 20px;
}
.title {
    font-family: "Domine";
    text-align: center;
    font-size: 28px;
}
.subtitle {
    color: var(--text-light);
    text-align: center;
    font-size: 14px;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /* max-height: 100%; */
    /* overflow-y: auto;
    scrollbar-width: none; */
    padding: 20px;
    padding-bottom: 83px;

}
.switcher_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: var(--bg);
    border: 1px solid #E6E6E6;
    padding: 6px;
    gap: 10px;
    border-radius: 12px;
    overflow-x: auto;
    scrollbar-width: none;
}
.switch_btn {
    width: 100%;
    padding: 10px 32px;
    color: var(--text-light);
    background: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.switch_btn.current {
    background: var(--bg-light);
    font-weight: 600;
    color: var(--text);
    box-shadow: var(--sh-s);
}
.form_container.current {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    box-shadow: var(--sh-s);
}
.form_container {
    display: none;
}
.form_header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form_title {
    font-family: "Domine";
}
.form_desc {
    font-size: 14px;
    color: var(--text-light);
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input_label {
    font-size: 16px;
    font-weight: 600;
}
.input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #E6E6E6;
    min-height: 44px;
    transition: all .2s;
    font-family: "Inter";
    color: var(--text);
    font-weight: 600;
}
.input:hover {
    border: 1px solid #999;
}
.input:focus {
    outline: none;
    box-shadow: var(--sh-s);
    border: 1px solid #999;
}
.input::placeholder {
    color: var(--text-light);
    font-weight: normal;
}
.input:disabled {
    user-select: none;
    cursor: not-allowed;
    opacity: 0.5;
    border: 1px solid #E6E6E6;
}
.form_footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    border-top: 1px solid #E6E6E6;
}
.form_footer_desc {
    font-size: 14px;
    color: var(--text-light);
}

/* SUBMIT BUTTON */
.submit_btn {
    background: var(--main-button);
    font-size: 16px;
    min-height: 44px;
    letter-spacing: 1px;
    border-radius: 6px;
    border: none;
    font-family: "Inter";
    padding: 12px;
    font-weight: 600;
    color: var(--bg-light);
    cursor: pointer;
    transition: all .2s;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.submit_btn:hover {
    background: var(--main-button-hover);
}
.submit_btn:active {
    background: var(--main-button-active);
}
.submit_btn:disabled {
    opacity: .5;
    cursor: not-allowed;
    background: var(--main-button);
    user-select: none;
}

.result_p {
    color: var(--text);
    font-size: 14px;
    display: none;
    text-align: center;
}
.result_p.error {
    color: var(--error);
    display: block;
}
.result_p.success {
    color: var(--success);
    display: block;
}

/* DROPDOWN */
.dropdown_container {
    position: relative;
    width: 100%;
    user-select: none;
}
.dropdown_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: var(--bg-light);
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    cursor: pointer;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    font-size: 14px;
}
.dropdown_btn.opened {
    box-shadow: var(--sh-s);
    border-color: #999;
}
.dropdown_btn:hover {
    border-color: #999;
}
.dropdown_btn.disabled {
    opacity: .5;
    cursor: not-allowed;
    user-select: none;
    border: 1px solid #E6E6E6;
    box-shadow: none;
}
.dropdown_label {
    color: var(--text-light);
}
.dropdown_label.valued {
    color: var(--text);
    font-weight: 600;
}
.dropdown_menu {
    list-style: none;
    background: var(--bg);
    background: var(--bg-light);
    border: 1px solid #E6E6E6;
    box-shadow: var(--sh-s);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding:6px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1000;
    max-height: 220px;
    overflow-y: auto;
    margin-top: 10px;
    scrollbar-width: none;
    display: none;
}
.dropdown_menu.active {
    display: block;
}
.dropdown_menu.up {
    bottom: calc(100% + 5px); /* Se posiciona arriba del botón */
    top: auto; /* Anula el 'top' por defecto (que no pusimos) */
    margin-top: 0;
    margin-bottom: 5px;
}
.dropdown_menu li {
    padding: 8px;
    border-radius: 3px;
    font-size: 14px;
    background: var(--bg-light);
    cursor: pointer;
    transition: all .2s;
}
.dropdown_menu li:hover {
    background: var(--bg);
}

/* LOADING */
.loading {
    display: flex;
    gap: 5px;
    animation: loading 1s ease 0 infinite ;
    height: 20px;
    align-items: flex-end;
}
.loading_dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: black;
    animation: loading 1s ease-in-out infinite alternate;
    background: var(--bg-light);
}
.loading_dot:nth-child(1) {
    animation-delay: 0s;
}
.loading_dot:nth-child(2) {
    animation-delay: 0.2s;
}
.loading_dot:nth-child(3) {
    animation-delay: 0.4s;
}
@keyframes loading {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* NEW NAVBAR */
.footer {
    /* width: 100%; */
    /* position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px; */
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* left: 10px; */
}
.navbar {
    width: 100%;
    background: var(--bg);
    display: flex;
    gap: 5px;
    padding: 6px;
    border-radius: 12px;
    border: 1px solid #E6E6E6;
}
.link_icon {
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 10px;
    color: var(--text-light);
    background: none;
}
.link_icon.current {
    background: var(--bg-light);
    box-shadow: var(--sh-s);
    color: var(--text);
}

/* TOAST */
.toast_container {
    position: fixed;
    bottom: -60px;
    left: 20px;
    right: 20px;
    /* transform: translateX(-50%); */
    padding: 14px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.18);
    opacity: 0;
    pointer-events: none;
}

/* Entrada */
.toast_container.show {
    animation: toastIn 400ms ease forwards;
}

/* Salida */
.toast_container.hide {
    animation: toastOut 450ms ease forwards;
}

@keyframes toastIn {
    from { opacity: 0; bottom: -50px; }
    to   { opacity: 1; bottom: 73px; }
}

@keyframes toastOut {
    from { opacity: 1; bottom: 73px; }
    to   { opacity: 0; bottom: -50px; }
}